<?xml version="1.0"?>
<config>

  <modules>
    <Tt_MageTest>
      <version>0.1.0</version>
    </Tt_MageTest>
  </modules>

  <global>

    <helpers>
      <tt_magetest>
        <class>Tt_MageTest_Helper</class>
      </tt_magetest>
    </helpers>

    <xtests>
      <tt_magetest>
        <class>Tt_MageTest_Xtest</class>
      </tt_magetest>
    </xtests>

  </global>

  <default>
    <!-- currently ok despite typo -->
    <xtext>
      <force>
        <index>true</index>
      </force>
    </xtext>
    <!-- should be spelled this way (my own fault, PR was from me)-->
    <xtest>

      <force>
        <index>true</index>
      </force>

      <frontendtest>
        <urls>
          <url_1>
            <url>/about-magento-demo-store</url>
            <rendername>FE_Footer_AboutPage</rendername>
            <assert>
              <a1><![CDATA[class=" cms-page-view cms-about-magento-demo-store"]]></a1>
            </assert>
          </url_1>
          <url_2>
            <url>/contacts</url>
            <rendername>FE_Footer_Contacts</rendername>
            <assert>
              <a1><![CDATA[class=" contacts-index-index"]]></a1>
            </assert>
          </url_2>
          <url_3>
            <url>/customer-service</url>
            <rendername>FE_Footer_CustomerService</rendername>
            <assert>
              <a1><![CDATA[class=" cms-page-view cms-customer-service"]]></a1>
            </assert>
          </url_3>
          <url_4>
            <url>/privacy-policy-cookie-restriction-mode</url>
            <rendername>FE_Footer_Privacy</rendername>
            <assert>
              <a1><![CDATA[class=" cms-page-view cms-privacy-policy-cookie-restriction-mode"]]></a1>
            </assert>
          </url_4>
          <url_5>
            <url>/catalog/seo_sitemap/category</url>
            <rendername>FE_Footer_Sitemap</rendername>
            <assert>
              <a1><![CDATA[class=" catalog-seo-sitemap-category"]]></a1>
            </assert>
          </url_5>
          <url_6>
            <url>/catalogsearch/term/popular</url>
            <rendername>FE_Footer_SearchPopular</rendername>
            <assert>
              <a1><![CDATA[class=" catalogsearch-term-popular"]]></a1>
            </assert>
          </url_6>
          <url_7>
            <url>/catalogsearch/advanced</url>
            <rendername>FE_Footer_SearchAdvanced</rendername>
            <assert>
              <a1><![CDATA[class=" catalogsearch-advanced-index"]]></a1>
            </assert>
          </url_7>
          <url_8>
            <url>/</url>
            <rendername>FE_homePage</rendername>
            <assert>
              <a1><![CDATA[class=" cms-index-index cms-home"]]></a1>
            </assert>
          </url_8>
        </urls>
      </frontendtest>

      <admintest>
        <user>admin</user>
        <urls>
          <url_1>
            <url>/admin/sales_order/index</url>
            <rendername>ADM_Sales_OrderIndex</rendername>
            <assert>
              <a1><![CDATA[<a href="#" name="real_order_id" title="asc" class="not-sort">]]></a1>
            </assert>
          </url_1>
        </urls>
      </admintest>

      <customertest>
        <customers>
          <customer_1>
            <username>janedoe@example.com</username>
          </customer_1>
        </customers>

        <urls>
          <url_1>
            <url>/customer/account/index</url>
            <assert>
              <a1><![CDATA[<body class=" customer-account-index customer-account">]]></a1>
            </assert>
            <rendername>FE_Customer_Dashboard</rendername>
          </url_1>
        </urls>
      </customertest>

      <producttest>
        <products>
          <sku_1>
            <sku>hbm010</sku>
            <assert>
              <a1><![CDATA[<div class="price-box">]]></a1>
              <a2><![CDATA[<span class="regular-price" id="product-price-]]></a2>
              <a3><![CDATA[<span class="price">]]></a3>
            </assert>
            <rendername>FE_Product_hbm010</rendername>
          </sku_1>
        </products>
      </producttest>

      <catalogtest>
        <categories>
          <cat_1>
            <catid>22</catid>
            <assert>
              <a1><![CDATA[<div class="sort-by">]]></a1>
              <a2><![CDATA[<div class="product-info">]]></a2>
              <a3><![CDATA[<div class="price-box">]]></a3>
            </assert>
          </cat_1>
        </categories>
      </catalogtest>
    </xtest>

  </default>

</config>